<mat-card class="taille-card" fxFlex >
  <mat-card-header>
      <mat-card-title>Login Secrétaire</mat-card-title>
  </mat-card-header>
  <br/>    
  <br/>    
  <mat-card-actions>
    <div fxLayoutAlign="center">
      <button *ngIf="!authService.isAuth" mat-raised-button type="button" color="primary" style="width: 200px" (click)="onSignInS()">Connecter</button>
      <button *ngIf="authService.isAuth" mat-raised-button type="button" color="warn" style="width: 200px" (click)="onSignOut()">Déconnecter</button>
    </div>
  </mat-card-actions>
  </mat-card>