<mat-card class="taille-card" fxFlex >
    <mat-card-header>
        <mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <span class="full-spacer"></span>    
    <span class="message"><i><h6>Connexion en tant que :</h6></i></span>
    <br/>
    <span class="full-spacer"></span>       
    <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="20px" >
        <div>
            <button mat-raised-button  class="blue" (click)="loginS()" matTooltip="Secrétaire" >Secrétaire</button>
        </div>  
        <div>
            <button mat-raised-button  class="blue" (click)="loginI()" matTooltip="Infirmier">Infirmier</button>
        </div>     
    </div>
 </mat-card>

