<mat-card class="taille-card" fxFlex >
    <mat-card-header>
        <mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <span class="full-spacer"></span>    
    <br/>
    <span><i fxLayoutAlign="start" ><h5>Connexion en tant que :</h5></i></span>
    <br/>
    <span class="full-spacer"></span>       
    <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="20px" >
        <div>
            <button mat-raised-button  class="blue" (click)="loginS()" style="width: 200px">Secrétaire</button>
        </div>  
        <div>
            <button mat-raised-button  class="blue" (click)="loginI()" style="width: 200px">Infirmier</button>
        </div>     
    </div>
 </mat-card>

