<!--<h2>Login</h2>

<div>Connexion en tant que :</div><br/>

<button class="btn btn-primary btn-lg active" (click)="onSecretaire()" [disabled]="secretairelog" style="width:130px">Secretaire</button>
<button class="btn btn-primary btn-lg active" (click)="onInfirmier()" [disabled]="infirmierelog" style="width:130px">Infirmier</button>
<br/><br/>

<div *ngIf="secretairelog">
<button class="btn btn-success" *ngIf="!authStatus" (click)="onSignInS()">Se connecter</button>
<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Se déconnecter</button>
</div>

<form *ngIf="infirmierelog">
    <div class="form-group mx-sm-3 mb-2" *ngIf="!authStatus">
    <label for="inputPassword2" class="sr-only">ID</label>
    <input type="text" class="form-control" id="inputPassword2" [(ngModel)]="IdInfirmier" name="IdInfirmier" placeholder="ID">
    </div>

<br/><br/>
<button class="btn btn-success" *ngIf="!authStatus" (click)="onSignInI()">Se connecter</button>
<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Se déconnecter</button>
</form>
-->
<mat-card class="taille-card" fxFlex >
    <mat-card-header>
        <mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <span class="full-spacer"></span>    
    <br/>
    <span><i fxLayoutAlign="start" ><h5>Connexion en tant que :</h5></i></span>
    <br/>
    <span class="full-spacer"></span>       
    <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="20px" >
        <div>
            <button mat-raised-button type="button" color="primary" (click)="loginS()" style="width: 200px">Secrétaire</button>
        </div>  
        <div>
            <button mat-raised-button type="button" color="primary" (click)="loginI()" style="width: 200px">Infirmier</button>
        </div>     
    </div>
 </mat-card>

