<mat-card class="taille-card" fxFlex>

  <mat-card-header>
      <mat-card-title>Login Infirmier</mat-card-title>
  </mat-card-header>
  <br/><br/> 

  <mat-card-content *ngIf="!authService.isAuth" >
    <form fxLayoutAlign="center">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" [(ngModel)]="IdInfirmier" name="id" required>
            </mat-form-field>
          </td>
        </tr>
    </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>

  <mat-card-actions>
    <div fxLayoutAlign="center">
      <button mat-raised-button class="connect" *ngIf="!authService.isAuth" (click)="onSignInI()" matTooltip="Connecter">Connecter</button>
      <button mat-raised-button class="disconnect" *ngIf="authService.isAuth" (click)="onSignOut()" matTooltip="Déconnecter">Déconnecter</button>
    </div>
  </mat-card-actions>
  
</mat-card>
