<mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="lightsmoke">
            <mat-panel-title class="blue">
                # {{patient.nom}} {{patient.prenom}}
            </mat-panel-title>
            <mat-panel-description *ngIf="!affected"><i>Non affecté(e)</i></mat-panel-description>
            <mat-panel-description *ngIf="affected">
                <i>Date d'intervention : {{patient.visite.date}}&nbsp;&nbsp;</i>
                <mat-icon>event_note</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="panel-body">  
            <h4 class="blue">
                <span class="middle">{{patient.nom}} {{patient.prenom}}</span>
            </h4>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Sexe <mat-icon>wc</mat-icon></div>

                <div class="profile-info-value">
                    <span>{{sexePatient}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Date de Naissance<mat-icon>cake</mat-icon> </div>

                <div class="profile-info-value">
                    <span>{{patient.naissance}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> N° de sécurité sociale<mat-icon>note_add</mat-icon> </div>

                <div class="profile-info-value">
                    <span>{{patient.numeroSecuriteSociale}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Adresse <mat-icon>place</mat-icon></div>
                
                <div class="profile-info-value">
                    <span>{{patient.adresse.numero}} {{patient.adresse.rue}}</span>
                    <span>{{patient.adresse.codePostal}}</span>
                    <span>{{patient.adresse.ville}}</span>
                    <span *ngIf="patient.adresse.etage !== ''">au {{patient.adresse.etage}}e étage</span>
                </div>
            </div>

            <div *ngIf="patient.visite != undefined">
                <!--<div class="profile-info-row" *ngFor="let id of patient.visite.actes">
                    <div class="profilep-info-name"> Soins <mat-icon>local_hospital</mat-icon></div>

                    <div class="profile-info-value">
                        {{actesService.getActesbyId(id).nom}}
                    </div>
                </div>-->
            </div>
            <br/><br/>
            
            <div fxLayoutAlign="center">
                <button mat-raised-button
                        matTooltip="Affecter le patient un infirmier"
                        class="affect mr-2" (click)="openAffectationDialog()" style="width: 150px">
                    {{affecterText}}
                </button>
                <button mat-raised-button
                        matTooltip="Désaffecter le patient de cet infirmier"
                        class="desaff" [disabled]="!affected" (click)="desaffect()"
                        style="width: 150px">
                    Désaffecter
                </button>
            </div>
            <div fxLayoutAlign="center">
            </div>                          
        </div>  

    </mat-expansion-panel>
</mat-accordion> <!--finpatient-->