<button (click)="ajoutP()" class="btn btn-success active" [disabled]="ajouter">New</button>
<br/><br/><br/>

<mat-accordion>
    <mat-expansion-panel 
    *ngFor="let patient of patients"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="lightsmoke">
        <mat-panel-title class="blue">
            # {{patient.nom}} {{patient.prenom}}
        </mat-panel-title>
        <mat-panel-description>date d'intervention</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="panel-body">  
            <h4 class="blue">
                <span class="middle">{{patient.nom}} {{patient.prenom}}</span>
            </h4>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Sexe </div>

                <div class="profile-info-value">
                <span>{{patient.sexe}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> N° de sécurité sociale </div>

                <div class="profile-info-value">
                <span>{{patient.numeroSecuriteSociale}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Adresse </div>
                
                <div class="profile-info-value">
                <span>{{patient.adresse.numero}} {{patient.adresse.rue}}</span>
                <span>{{patient.adresse.codePostal}}</span>
                <span>{{patient.adresse.ville}}</span>
                <span *ngIf="patient.adresse.etage !== ''">au {{patient.adresse.etage}}e étage</span>
                </div>
            </div> 
            <br/><br/>
            <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="30px" >
                <div>
                    <button mat-raised-button  class="affect" (click)="affecterPat()" [disabled]="affecter" style="width: 200px">Affecter</button>
                </div>  
                <div>
                    <button mat-raised-button  class="supp" (click)="supprimerInf()" [disabled]="supprimer" style="width: 200px">Supprimer</button>
                </div>     
            </div>                          
        </div>  

    </mat-expansion-panel>
</mat-accordion> <!--finpatient-->