<mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="lightsmoke">
            <mat-panel-title class="blue">
                # {{patient.nom}} {{patient.prenom}}
            </mat-panel-title>
            <mat-panel-description><i>non affecté(e)</i></mat-panel-description>
        </mat-expansion-panel-header>

        <div class="panel-body">  
            <h4 class="blue">
                <span class="middle">{{patient.nom}} {{patient.prenom}}</span>
            </h4>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Sexe <mat-icon>wc</mat-icon></div>

                <div class="profile-info-value">
                <span>{{patient.sexe}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Date de Naissance<mat-icon>cake</mat-icon> </div>

                <div class="profile-info-value">
                    <span>{{patient.naissance}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> N° de sécurité sociale<mat-icon>note_add</mat-icon> </div>

                <div class="profile-info-value">
                    <span>{{patient.numeroSecuriteSociale}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profilep-info-name"> Adresse <mat-icon>place</mat-icon></div>
                
                <div class="profile-info-value">
                    <span>{{patient.adresse.numero}} {{patient.adresse.rue}}</span>
                    <span>{{patient.adresse.codePostal}}</span>
                    <span>{{patient.adresse.ville}}</span>
                    <span *ngIf="patient.adresse.etage !== ''">au {{patient.adresse.etage}}e étage</span>
                </div>
            </div>

            <div class="profile-info-row" *ngFor="let id of patient.visite?.actes">
                <div class="profilep-info-name"> Soins <mat-icon>local_hospital</mat-icon></div>

                <div class="profile-info-value">
                    <span *ngIf="patient.visite?.actes != undefined">{{actesService.getActesbyId(id).nom}}</span>
                </div>
            </div>  
            <br/><br/>
            
            <div fxLayoutAlign="center">
                <button mat-raised-button class="affect" (click)="openAffectationDialog()" style="width: 150px">
                    Affecter
                </button>
            </div>  
            <div fxLayoutAlign="end">
                <button mat-raised-button  class="supp" (click)="supprimerInf()" ><mat-icon>delete</mat-icon></button>
            </div>                          
        </div>  

    </mat-expansion-panel>
</mat-accordion> <!--finpatient-->