<div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="30px" class="mb-3">
    <!--bouton pour avoir accès au modification des infirmiers-->
    <div>
        <button type="button" class="btn btn-info btn-lg active" [disabled]="infirmier"
                matTooltip="Afficher les infirmiers"
                (click)="onInfirmier()" style="width: 210px">Infirmier
        </button>
    </div>  

    <!--bouton  pour avoir accès au modification des patients-->
    <div>
        <button type="button" class="btn btn-info btn-lg active" [disabled]="patient"
                matTooltip="Afficher les patients"
                (click)="onPatient()" style="width: 210px">Patient
        </button>
    </div>
</div>

<div *ngIf="infirmier">
    <app-modify-infirmier *ngFor="let inf of infirmiers" [infirmier]="inf"
                          (patientStateChanged)="ngOnInit()">
    </app-modify-infirmier>
    <div *ngIf="infirmiers.length < 1">
        <i>Aucun infirmier trouvé</i>
    </div>
</div>

<div *ngIf="patient">
    <!--bouton  pour avoir accès à l'ajout d'un  nouveau patient-->
    <button matTooltip="Ajouter un nouveau patient"
            (click)="ajoutP()" class="btn btn-success active mb-4" [disabled]="ajouter">
        <mat-icon>add</mat-icon>
    </button>

    <!--affichage des patients non affectés-->
    <div class="mb-3">
        <app-modify-patient *ngFor="let p of patients" [patient]="p" [affected]="false" [infirmiers]="infirmiers"
                            (affectionEmitter)="ngOnInit()">
        </app-modify-patient>
        <div *ngIf="patients.length < 1">
            <i>Aucun patient non affecté trouvé</i>
        </div>
    </div>
    <!--Fin non affectés-->

    <hr>
    
    <!--affichage des patients affectés-->
    <div *ngFor="let inf of infirmiers">
        <app-modify-patient *ngFor="let p of inf.patients" [patient]="p" [affected]="true" [infirmiers]="infirmiers"
                            (affectionEmitter)="ngOnInit()" (desAffectionEmitter)="ngOnInit()">
        </app-modify-patient>
        <div *ngIf="infirmiers.length < 1">
            <i>Aucun patient affecté trouvé</i>
        </div>
    </div>
    <!--Fin affectés-->
    <!--TODO: Mettre les mat-accordion en expand par defaut et ajouter un boutton expand all-->
</div>

