secretaire
{{cabinetInt}}

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button (click)="onInfirmier()" class="btn btn-primary active" [disabled]="infirmier" style="width:350px">Infirmier</button>
  <button (click)="onPatient()" class="btn btn-primary active" [disabled]="patient" style="width:350px">Patient</button>
</div>

<div *ngIf="infirmier">
  <br/><br/>
  <app-modify-infirmier></app-modify-infirmier>
</div>

<div *ngIf="patient">
  <app-modify-patient></app-modify-patient>
</div>

