<div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="30px"  >
    <div>
        <button type="button" class="btn btn-info btn-lg active" [disabled]="infirmier" (click)="onInfirmier()" style="width: 210px">Infirmier</button>
    </div>  
    <div>
        <button type="button" class="btn btn-info btn-lg active" [disabled]="patient" (click)="onPatient()" style="width: 210px" >Patient</button>
    </div>     
</div>
<br/><br/>

<div *ngIf="infirmier">
  <app-modify-infirmier></app-modify-infirmier>
</div>

<div *ngIf="patient">
    <button (click)="ajoutP()" class="btn btn-success active mb-2" [disabled]="ajouter">
        <mat-icon>add</mat-icon>
    </button>
    <br>
    <app-modify-patient *ngFor="let p of patients" [patient]="p"></app-modify-patient>
</div>

