<!--barre de navigation-->
<mat-sidenav-container >

  <!--contenu du menu-->
  <mat-sidenav #sidenav role="navigation" class="siv">
      <mat-nav-list (sidenavClose)="sidenav.close()">
          <a mat-list-item *ngIf="!authService.isAuth" routerLink="secretairelog" (click)="onSidenavClose()" >
              <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Secrétaire</span>   
          </a>
          <a mat-list-item *ngIf="!authService.isAuth" routerLink="infirmierlog" (click)="onSidenavClose()"  >
              <mat-icon>local_hospital</mat-icon><span class="nav-caption">Infirmier</span>
          </a>
          <a mat-list-item *ngIf="authService.isAuth" routerLink="login" (click)="onSidenavClose();Logout()">
              <mat-icon>exit_to_app</mat-icon><span class="nav-caption">déconnecter</span>
          </a>
        </mat-nav-list>
  </mat-sidenav>

  <!--entête de la barre de navigation-->
  <mat-sidenav-content >
    <mat-toolbar class="entete" (sidenavToggle)="sidenav.toggle()" >
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <!--logo + nom du cabinet-->
        <div>            
            <a (click)="redigAccueil()">
              <img [src]="cabinetImg" class="logo" class="icon-main">
              <span class="titre">{{cabinetNom}} </span>
            </a>
        </div>

        <!--login + logout-->
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
          <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>                    
            <a routerLink="login" *ngIf="!authService.isAuth" > connecter
              <button mat-icon-button>
                  <mat-icon>person</mat-icon>
              </button>
            </a>
            <a routerLink="login" *ngIf="authService.isAuth" (click)="Logout()"> déconnecter
              <button mat-icon-button>
                <mat-icon>exit_to_app</mat-icon>
              </button>
            </a>
          </li>
          </ul>
        </div>

      </mat-toolbar>

    <main class="container"> 
      <!--redirection-->    
      <router-outlet ></router-outlet>
      <br/><br/><br/>
    </main>
   
    <footer class="page-footer font-small fixed-bottom" fxLayoutAlign="center center" >
      <div class="footer-copyright text-center">© 2019 Copyright :
        <a href="https://gitlab.com/yakuzHanh/clientangular"> Do Hanh - Cisse Drissa</a>
      </div>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>

<!--local_hospital footer icon-->

