<!--TODO: Ajout de champs soins en select multiple, date de visite et l'intervenant en optionnel-->
<h1 mat-dialog-title>Ajouter un patient</h1>
<div mat-dialog-content>
    <form (submit)="addPatient()" #formulaire="ngForm">
        <p>
            <!--<label for="prenom" class="">Prénom*</label>-->
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input matInput type="text" id="prenom" name="prenom"
                       [(ngModel)]="patient.prenom" placeholder="Prénom" required/>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput type="text" id="nom" name="nom" [(ngModel)]="patient.nom" placeholder="Nom" required/>
            </mat-form-field>
        </p>

        <div>
            <mat-form-field>
                <mat-select placeholder="Sexe" name="sexe" [(ngModel)]="sexe" required>
                    <mat-option value="F">F</mat-option>
                    <mat-option value="M">M</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Numéro de sécurité sociale</mat-label>
                <input matInput type="text" id="secu" name="secu" placeholder="0001"
                       [(ngModel)]="patient.numeroSecuriteSociale"
                       required/>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Code postal</mat-label>
                <input matInput type="text" ngModel="patient.adresse" id="codepostal" placeholder="38000"
                       name="codepostal"
                       [(ngModel)]="patient.adresse.codePostal" required/>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ville</mat-label>
                <input matInput type="text" ngModel="patient.adresse" id="ville" placeholder="Grenoble" name="ville"
                       [(ngModel)]="patient.adresse.ville" required/>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Rue</mat-label>
                <input matInput type="text" ngModel="patient.adresse" id="rue" placeholder="Rue" name="rue"
                       [(ngModel)]="patient.adresse.rue" required/>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Numero</mat-label>
                <input matInput type="text" ngModel="patient.adresse" id="numero" name="numero" placeholder="Numéro"
                       [(ngModel)]="patient.adresse.numero" required/>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Etage</mat-label>
                <input matInput type="text" ngModel="patient.adresse" id="etage" name="etage" placeholder="Etage"
                       [(ngModel)]="patient.adresse.etage" required/>
            </mat-form-field>
        </div>
        <!--<button type="submit" class="btn block full-width"
                [disabled]="!formulaire.valid">Valider
        </button>
        <button (click)="cancelAddPatient()" class=" btn btn-secondary block full-width">
            Annuler
        </button>-->
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="patient" cdkFocusInitial>Ok</button>
</div>