<button (click)="ajoutInf()" class="btn btn-success active" [disabled]="ajouter">New</button>
<br/><br/><br/>

<mat-accordion color="primary">
    <mat-expansion-panel 
    *ngFor="let infirmier of infirmiers"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="lightsmoke">
            <mat-panel-title class="blue">
            <b># {{infirmier.id}}</b>
            </mat-panel-title>
            <mat-panel-description>
            <i>{{infirmier.nom}} {{infirmier.prenom}}</i>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <div class="panel-body">                
                <app-profil-inf [infirmier]="infirmier"></app-profil-inf>               
            </div>
        </div>       
    </mat-expansion-panel>
</mat-accordion> <!--finpatient-->