
<button  class="btn btn-secondary active" [disabled]="affecter" >Profile</button>
<button (click)="ajoutInf()" class="btn btn-secondary active" [disabled]="ajouter" >Ajouter</button>
<button  class="btn btn-secondary active" [disabled]="affecter" >Afecter</button>
<button  class="btn btn-secondary active" [disabled]="supprimer" >Supprimer</button>

<!--affichage des tous les infirmiers pour regarder que id infirmier précis: https://coreui.io/docs/components/dropdowns/
<div *ngIf="profiles">
https://coreui.io/docs/components/collapse/
https://coreui.io/docs/components/list-group/ pour l'affichage des données de tous infirmiers -->

<div *ngIf="ajouter">    
    <app-add-infirmier></app-add-infirmier>
</div>
