

        <div class="tab-content no-border padding-24">
          <div id="home" class="tab-pane in active">
            <div class="row">
              <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                  <img class="editable img-responsive" alt=" Avatar" id="avatar2" [src]="imgSrc">
                </span>
                <div class="space space-4"></div>
              </div><!-- /.col -->

              <div class="col-xs-12 col-sm-9">
                <h4 class="blue">
                  <span class="middle">{{infirmier.nom}} {{infirmier.prenom}}</span>
                </h4>
                <div class="profile-user-info">
                  <div class="profile-info-row">
                    <div class="profile-info-name"> Adresse </div>

                    <div class="profile-info-value">
                      <i class="fa fa-map-marker light-orange bigger-110"></i>
                      <span>  {{infirmier.adresse.numero}} {{infirmier.adresse.rue}}, {{infirmier.adresse.ville}}, {{infirmier.adresse.codePostal}}</span>
                      <span *ngIf="infirmier.adresse.etage !== ''">{{infirmier.adresse.etage}} étage</span>
                    </div>
                  </div>                
                </div>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <div class="space-20"></div>
          <br/>

          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-10">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                  <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    Patients
                  </h4>
                </div>

                <div class="widget-body">
                  <div class="widget-main">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-info" *ngFor="let patient of patients; let i = index" >
                        <div class="panel-heading" (click) = "current = i">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion">
                              # {{patient.nom}} {{patient.prenom}}</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse" [class.collapse]='current != i' >
                          <div class="panel-body">  
                            <h4 class="blue">
                              <span class="middle">{{patient.nom}} {{patient.prenom}}</span>
                            </h4>

                            <div class="profile-info-row">
                              <div class="profilep-info-name"> Sexe </div>
            
                              <div class="profile-info-value">
                                <span>{{patient.sexe}}</span>
                              </div>
                            </div>

                            <div class="profile-info-row">
                              <div class="profilep-info-name"> N° de sécurité sociale </div>
            
                              <div class="profile-info-value">
                                <span>{{patient.numeroSecuriteSociale}}</span>
                              </div>
                            </div>

                            <div class="profile-info-row">
                              <div class="profilep-info-name"> Adresse </div>
                              
                              <div class="profile-info-value">
                                <span>  {{patient.adresse.numero}} {{patient.adresse.rue}}, {{patient.adresse.ville}}, {{patient.adresse.codePostal}}</span>
                                <span *ngIf="patient.adresse.etage !== ''">, {{patient.adresse.etage}} étage</span>
                              </div>
                            </div>                             
                            </div><!--fin patient-->
                          </div> 
                        </div>
                      </div>
                    </div>   
                    
						      </div> <!-- /#content patient -->
							
                </div>
              </div>
            </div><!-- /#home -->
          </div>




<!--

<button  mat-raised-button class="btn-w-md ml-3 orange-500-bg" (click)="allExpandState = true">Expand All </button>
<button  mat-raised-button class="btn-w-md ml-3 orange-500-bg" (click)="allExpandState = false">Collapse All </button>

<mat-expansion-panel [expanded]="allExpandState"  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header>
		<mat-panel-title>
			Personal data
		</mat-panel-title>
		<mat-panel-description>
			Type your name and age
		</mat-panel-description>
	</mat-expansion-panel-header>
</mat-expansion-panel>
-->